<div id="device-use">
  <h2 class="page-header">Log in</h2>
  <%= link_to(fa_icon("facebook", text: "Facebook"), user_facebook_omniauth_authorize_path , :class => "btn btn-lg btn-info btn-block btn-facebook") %>
  <%= link_to(fa_icon("google", text: "Google"), user_google_oauth2_omniauth_authorize_path , :class => "btn btn-lg btn-danger btn-block") %>
</div>
<% render "devise/shared/links" %>