<div class="page-header">
  <h2>Dashboard</h2>
</div>
<div style="overflow:hidden;">
  <div class="form-group">
    <div class="row">
      <div class="col-xs-12">
        <div id= 'diver_picker'>
        </div>
        <%= render 'form_search'%>
      </div>
    </div>
  </div>
  <div id="div_charts">
    <%= render 'charts', pie_values: @pie_values, 
  line_value: @line_value, sum_input: @sum_input,
   sum_output: @sum_output,sum_balance: @sum_balance, 
   balance_color: @balance_color%>
  </div>
  <script type="text/javascript">
    $(function () {
                    $("#datetimepicker12").remove();
    
                    $("#diver_picker").append("<div id='datetimepicker12'></div>");
    
                        $('#datetimepicker12').datetimepicker({
                        inline: true,
                        sideBySide: true,
                        viewMode: 'months',
                        format: 'MM/YYYY'
                        });
                        });
    
                        $("#datetimepicker12").on("dp.change", function(e) {
                        $("#search_month").attr('value',e.date.format('MM')+"");
                        $("#search_year").attr('value',e.date.format('YYYY')+"");
                            $( "#dashboard_form" ).submit();
                        });
  </script>
</div>