body {
  background-color: #DEDEDF
}

.pagination-center{
  width: 275px;
  margin: 0 auto;
}

.empty_text{
  text-align: center;
  font-style: italic;
}

.calculate hr{
  margin-top: 4px;
  margin-bottom:  4px;
}

.calculate .resto{
  text-align: right;
  font-size: 22px;
}

.calculate .minuendo{
  text-align: right;
  font-size: 22px;
}

.calculate .subtraendo{
  text-align: right;
  font-size: 22px;
  color: red;
}

.calculate .operador{
  font-size: 22px;
    position: absolute;
    margin-top: -15px;
    margin-left: -50px;
}

.btn-facebook{
  background-color: #3B5998;
}

.btn-google{
  background-color: #C93A21;
}

.img-perfil{
  border-radius:  48px;
}

#device-use {
text-align: center;
width: 40%;
margin: 0 auto;

}

.new_user .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.new_input_email{
     margin-bottom: 0px;
       border-bottom-right-radius: 0;
       border-bottom-left-radius:  0;
}


.new_input_password{
    margin-bottom: 10px;
    border-top-right-radius: 0;
     border-top-left-radius:  0;
}