<% flash.each do |key, value| %>
  <%
sentence = key.dup
sentence.sub! 'notice', 'success'
sentence.sub! 'alert', 'danger'
%>
  <div class="alert alert-<%= sentence %>" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
  </div>
<% end %>